body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

#options {
    display: flex;
    justify-content: center;
    height: 30svh;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#options .btn {
    flex: 1;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    font-weight: 800;
    text-transform: lowercase;
    color: white;
    background: #2b2b2b;
    margin: 30px;
    display: flex;
    opacity: .4;
    transition: 300ms;
}

#options .btn:hover {
    opacity: 1;
}

#options .btn h1 {
    margin: auto;
}

/* #options #rock {
    background: #b6b6b6;
}

#options #paper {
    background-color: #ffebb6;
}

#options #scissors {
    background: #cfe7be;
} */

#score {
    height: 50svh;
}

#overlay {
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    background: #0000009e;
    color: white;
}

#overlay h1 {
    margin: auto;
    text-shadow: 3px 3px #00000054;
}

#logs div {
    padding: 9px 10px;
    margin-bottom: 8px;
    background: #d6e2ff;
    border-left: 4px solid #376d84;
    color: #1f4d64;
    font-size: 15px;
}

#logs #lose, #win, #draw {
    font-weight: 800;
}

#logs div#lose {
    background: rgba(255, 0, 0, 0.158);
    border-left-color: red;
    color: rgb(194, 50, 50);
}

#logs div#win {
    background: rgba(0, 128, 0, 0.166);
    border-left-color: green;
    color: rgb(25, 161, 25);
}

#logs div#draw {
    background: rgba(0, 0, 0, 0.166);
    border-left-color: black;
    color:rgb(49, 49, 49);
}

#score #board {
    display: flex;
    margin-bottom: 15px;
}

#score #board div {
    flex: 1;
    margin: auto;
}

#score #board #computer, #score #board #player {
    padding: 18px;
    font-size: 35px;
    font-weight: 800;
}

#score #board #computer {
    background: #ee6e6e;
    color: white;
    text-align: right;
    display: flex;
}

#score #board #computer #pts {
    text-align: left;
}

#score #board #player {
    display: flex;
    background: #529bc6;
    color: white;
}

#score #board #player #pts {
    text-align: right;
}

#score #board #pts {
    font-size: 60px;
}

#round {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    gap: 20px;
}

#round .center {
    flex: 1;
    font-size: 300px;
}

#round #player-choice {
    text-align: right;
}

#round #player-choice i {
    color: #529bc6;
    transform: rotate(90deg);
}

#round #computer-choice i {
    color: #ee6e6e;
    transform: rotate(270deg);
}